name: build and test

on:
  workflow_dispatch:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

permissions:
  contents: read
  checks: write

jobs:
  build:
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
        java: [ 11, 17, 21 ]

    runs-on: ${{ matrix.os }}
    steps:
    - name: checkout
      uses: actions/checkout@v4
    - name: setup-java
      uses: actions/setup-java@v4
      with:
        java-version: ${{ matrix.java }}
        distribution: 'zulu'
        cache: 'maven'
    - name: setup display (linux)
      if: runner.os == 'Linux'
      run: |
        sudo apt-get update -q
        sudo apt-get install -y xvfb
        echo "DISPLAY=:99" >> $GITHUB_ENV
        Xvfb :99 -screen 0 1024x768x24 &
    - name: maven
      run: mvn --batch-mode test verify
    - name: test report
      uses: dorny/test-reporter@v1
      if: ${{ always() && runner.os == 'Linux' && matrix.java == 11 }}
      with:
        name: junit tests
        reporter: java-junit
        path: 'target/surefire-reports/TEST-*.xml'
    - name: coverage report
      uses: codecov/codecov-action@v5
      if: ${{ runner.os == 'Linux' && matrix.java == 11 }}
      with:
        file: target/site/jacoco/jacoco.xml
