name: build and test

on:
  workflow_dispatch: 
  push:
    branches: [ master ]

jobs:
  build:
    strategy:
      matrix:
        os: [ ubuntu-latest, macos-latest, windows-latest ]
        java: [ 16, 17, 18 ]

    runs-on: ${{ matrix.os }}
    steps:
    - name: checkout
      uses: actions/checkout@v4
    - name: setup-java
      uses: actions/setup-java@v3
      with:
        java-version: ${{ matrix.java }}
        distribution: 'zulu'
    - name: cache repo
      uses: actions/cache@v2
      with:
        path: ~/.m2
        key: ${{ runner.os }}-m2-${{ hashFiles('**/pom.xml') }}
        restore-keys: ${{ runner.os }}-m2
    - name: maven
      uses: GabrielBB/xvfb-action@v1
      with:
        run: mvn --batch-mode test verify
    - name: test report
      uses: dorny/test-reporter@v1
      if: ${{ runner.os == 'Linux' && matrix.java == 11 }}
      with:
        name: junit tests
        reporter: java-junit
        path: 'target/surefire-reports/TEST-*.xml'
    - name: coverage report
      uses: codecov/codecov-action@v1.5.0
      if: ${{ runner.os == 'Linux' && matrix.java == 11 }}
      with:
        file: target/site/jacoco/jacoco.xml
